# =====================================
# Python
# =====================================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
.venv/

# =====================================
# Streamlit
# =====================================
.streamlit/secrets.toml

# =====================================
# Jupyter Notebook
# =====================================
.ipynb_checkpoints/

# =====================================
# IDEs
# =====================================

# VS Code
.vscode/

# PyCharm
.idea/

# =====================================
# OS Files
# =====================================

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# =====================================
# Build / Distribution
# =====================================
build/
dist/
*.egg-info/

# =====================================
# Testing & Coverage
# =====================================
.coverage
htmlcov/
.pytest_cache/

# =====================================
# Logs
# =====================================
*.log

# =====================================
# Environment Variables
# =====================================
.env
.env.*

# =====================================
# Cache
# =====================================
.cache/
.mypy_cache/
.ruff_cache/

# =====================================
# Temporary Files
# =====================================
*.tmp
*.temp